<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Carro</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="carro_modelo" class="col-lg-3 control-label">Modelo *</label>
        <div class="col-lg-9">
          <input ng-model="product.modelo" ng-model-options="{ updateOn: 'submit' }" type="text" class="form-control" required />
        </div>
      </div>
      <div class="form-group">
        <label for="carro_marca" class="col-lg-3 control-label">Marca *</label>
        <div class="col-lg-9">
          <input ng-model="product.marca" ng-model-options="{ updateOn: 'submit' }" type="text" class="form-control" required />
        </div>
      </div>
      <div class="form-group">
        <label for="carro_placa" class="col-lg-3 control-label">Placa *</label>
        <div class="col-lg-9">
          <input ng-model="product.placa" ng-model-options="{ updateOn: 'submit' }" type="text" class="form-control" required />
        </div>
      </div>
      <div class="form-group">
        <label for="carro_combustivel" class="col-lg-3 control-label">Combustível</label>
        <div class="col-lg-9">
          <input ng-model="product.combustivel" ng-model-options="{ updateOn: 'submit' }" type="text" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="carro_cor" class="col-lg-3 control-label">Cor</label>
        <div class="col-lg-9">
          <input ng-model="product.cor" ng-model-options="{ updateOn: 'submit' }" type="text" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="carro_imagem" class="col-lg-3 control-label">Imagem</label>
        <div class="col-lg-9">
          <input ng-model="product.imagem" ng-model-options="{ updateOn: 'submit' }" type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</div>
